[Desktop Entry]
Name=Telly Spelly
Comment=Record and transcribe audio using Whisper
Version=1.0
Exec=telly-spelly
Icon=telly-spelly
Type=Application
Categories=Qt;XFCE;Audio;AudioVideo;
Terminal=false 
